AWS/AWS_Certified_Machine_Learning_Specialty_certificate.pdf filter=lfs diff=lfs merge=lfs -text
IGNOU_Russian/MarkSheet.pdf filter=lfs diff=lfs merge=lfs -text
IGNOU_Russian/ProvisionalCertificate.pdf filter=lfs diff=lfs merge=lfs -text
TOEFL/Scorecard.pdf filter=lfs diff=lfs merge=lfs -text
