GCP_Core_Infrastructure.pdf filter=lfs diff=lfs merge=lfs -text
Software_Processes_And_Agile_Practices.pdf filter=lfs diff=lfs merge=lfs -text
Understanding_China_Data_Analytic_Approach_1.pdf filter=lfs diff=lfs merge=lfs -text
Chinese_For_HSK3_Part_2.pdf filter=lfs diff=lfs merge=lfs -text
GCP_Configuration_Management.pdf filter=lfs diff=lfs merge=lfs -text
Innovation_For_Entrepreneurs.pdf filter=lfs diff=lfs merge=lfs -text
Introduction_To_Genomic_Technologies.pdf filter=lfs diff=lfs merge=lfs -text
Algorithmic_Toolbox.pdf filter=lfs diff=lfs merge=lfs -text
Algorithms_On_Strings.pdf filter=lfs diff=lfs merge=lfs -text
Business_Model_Canvas.pdf filter=lfs diff=lfs merge=lfs -text
Chinese_Characters_For_Beginners.pdf filter=lfs diff=lfs merge=lfs -text
Introduction_To_Software_Product_Management.pdf filter=lfs diff=lfs merge=lfs -text
Functional_Programming_In_Scala_Capstone.pdf filter=lfs diff=lfs merge=lfs -text
Managing_Data_Analysis.pdf filter=lfs diff=lfs merge=lfs -text
StartUp_Funding_For_Entreprenuers.pdf filter=lfs diff=lfs merge=lfs -text
Chinese_For_Beginners.pdf filter=lfs diff=lfs merge=lfs -text
Mandarin_Chinese_3.pdf filter=lfs diff=lfs merge=lfs -text
MindShift.pdf filter=lfs diff=lfs merge=lfs -text
Regression_Models.pdf filter=lfs diff=lfs merge=lfs -text
Single_Page_WebApp_AngularJS.pdf filter=lfs diff=lfs merge=lfs -text
A_Crash_Course_In_Data_Science.pdf filter=lfs diff=lfs merge=lfs -text
Chinese_For_HSK_2.pdf filter=lfs diff=lfs merge=lfs -text
Exploratory_Data_Analysis.pdf filter=lfs diff=lfs merge=lfs -text
Functional_Programming_In_Scala.pdf filter=lfs diff=lfs merge=lfs -text
Big_Data_Analysis_With_Scala_And_Spark.pdf filter=lfs diff=lfs merge=lfs -text
Programming_For_Everybody.pdf filter=lfs diff=lfs merge=lfs -text
Reproducible_Research.pdf filter=lfs diff=lfs merge=lfs -text
Developing_Innovative_Ideas_For_New_Companies.pdf filter=lfs diff=lfs merge=lfs -text
FrontEnd_JavaScript_Frameworks_AngularJS.pdf filter=lfs diff=lfs merge=lfs -text
Getting_And_Cleaning_Data.pdf filter=lfs diff=lfs merge=lfs -text
Chinese_For_HSK3_Part_1.pdf filter=lfs diff=lfs merge=lfs -text
Functional_Program_Design_In_Scala.pdf filter=lfs diff=lfs merge=lfs -text
Functional_Programming_Principles_In_Scala.pdf filter=lfs diff=lfs merge=lfs -text
Reviews_And_Metrics_For_Software_Improvements.pdf filter=lfs diff=lfs merge=lfs -text
Statistical_Inference.pdf filter=lfs diff=lfs merge=lfs -text
Building_A_Data_Science_Team.pdf filter=lfs diff=lfs merge=lfs -text
Principles_of_Computing_2.pdf filter=lfs diff=lfs merge=lfs -text
Python_Data_Structures.pdf filter=lfs diff=lfs merge=lfs -text
Rails_With_ActiveRecord_And_ActionPack.pdf filter=lfs diff=lfs merge=lfs -text
Miracles_Of_Human_Language.pdf filter=lfs diff=lfs merge=lfs -text
RubyOnRails_WebServicesAndIntegrationWithMongoDB.pdf filter=lfs diff=lfs merge=lfs -text
Data_Science_Math_Skills.pdf filter=lfs diff=lfs merge=lfs -text
HTML_CSS_And_JavaScript.pdf filter=lfs diff=lfs merge=lfs -text
More_Chinese_For_Beginners.pdf filter=lfs diff=lfs merge=lfs -text
Server_Side_Development_With_NodeJS.pdf filter=lfs diff=lfs merge=lfs -text
Using_Python_To_Access_Web_Data.pdf filter=lfs diff=lfs merge=lfs -text
AI_For_Everyone.pdf filter=lfs diff=lfs merge=lfs -text
Chinese_For_HSK_1.pdf filter=lfs diff=lfs merge=lfs -text
Data_Science_in_Real_Life.pdf filter=lfs diff=lfs merge=lfs -text
Frontend_Web_UI_Frameworks.pdf filter=lfs diff=lfs merge=lfs -text
Coursera_Mentor_Community_And_Training_Course.pdf filter=lfs diff=lfs merge=lfs -text
Mandarin_Chinese_2.pdf filter=lfs diff=lfs merge=lfs -text
R_Programming.pdf filter=lfs diff=lfs merge=lfs -text
The_Data_Scientiss_Toolbox.pdf filter=lfs diff=lfs merge=lfs -text
GCP_Computing_Storage_And_Security.pdf filter=lfs diff=lfs merge=lfs -text
Mandarin_Chinese_1.pdf filter=lfs diff=lfs merge=lfs -text
Practical_Machine_Learning.pdf filter=lfs diff=lfs merge=lfs -text
Understanding_Chine_Data_Analytic_Approach_2.pdf filter=lfs diff=lfs merge=lfs -text
Algorithms_On_Graphs.pdf filter=lfs diff=lfs merge=lfs -text
HTML_CSS_And_JavaScript_For_Web_Developers.pdf filter=lfs diff=lfs merge=lfs -text
Julia_Scientific_Programming.pdf filter=lfs diff=lfs merge=lfs -text
Learn_Chinese_HSK_Test_preparation_Specialization.pdf filter=lfs diff=lfs merge=lfs -text
Using_Databases_With_Python.pdf filter=lfs diff=lfs merge=lfs -text
Advanced_R_Programming.pdf filter=lfs diff=lfs merge=lfs -text
Learning_How_To_Learn.pdf filter=lfs diff=lfs merge=lfs -text
Parallel_Programming.pdf filter=lfs diff=lfs merge=lfs -text
RubyOnRails_An_Introduction.pdf filter=lfs diff=lfs merge=lfs -text
